#**Question 1**

In [1]:
a = 0
def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

**1st execution of b():**

The global keyword is to determine that variable a is a global variable instead of a local variable.

After that c(a) function is called by passing the current value of a which iis intially zero. Inside c function 2 is added to the a=0 so 2 returned from the fucntion and now the value of global variable is 2.


**2nd execution of b():**

The function b() is called again and global keyword is used to indicate that global variable a is reffered. Now the function c is called with current value of a which is 2.

When function c is executed, 2 is added to the current value of a which now becomes 4, so 4 was returned by the function. Now the value of global variable a is 4.

**3rd execution of b():**

When the function b() is called for the third time again global keyword is used to indicate global variable a. Aferthat, function c() is called by passing the current value of a which is 4.

When fucntion c() is called 2 is added to the current value of a which is 4. Now the resulting value is 6 and 6 will be returned by c(a) function.

Now the value of global variable a is 6. So when we check the value a, we will get 6 in result.

#**Question 2**

In [6]:
def fileLength(fileName):
    try:
      file = open(fileName)
      contents = file.read()
      file.close()
      print(len(contents))
    except FileNotFoundError:
      print(f"File {fileName} not found")

In [7]:
fileLength('midterm.py')

123

In [8]:
fileLength('idterm.py')

File idterm.py not found

#**Question 3**

###Code for class Marsupial

In [9]:
class Marsupial: # class Marsupial represents a pouch that can hold items in it

    # Constructor to initializes an empty list named contents to store items in the pouch
    def __init__(self):
      self.contents = []

    # Method to store an item into the pouch
    def put_in_pouch(self, item):
      self.contents.append(item)

    # Method to display the cuurent contents in the pouch
    def pouch_contents(self):
      print(self.contents)

In [10]:
m = Marsupial()

In [11]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

###Code for class Kangaroo

In [16]:
class Kangaroo(Marsupial):

  # Constructor for class Kangaroo that initialize a Kangaroo with coordinates (x, y)
  # Also initoalize an empty pouch using Marsupial constructor
  def __init__(self, x, y):
    Marsupial.__init__(self)
    self.x = x
    self.y = y

  # Method to update the coordinates of Kangaroo
  def jump(self, x, y):
    self.x += x
    self.y += y

  # Method to display the current coordinates of Kangaroo
  def __str__(self):
    return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [17]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [18]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

#**Question 4**

In [35]:
def collatz(x):

  if type(x) is not int or x <= 0 :
    print("Please enter a positive number")
    return

  print(int(x))

  if x == 1: return

  x = x // 2 if x % 2 == 0 else 3 * x + 1

  collatz(int(x))

In [36]:
collatz(1)

1

In [37]:
collatz(10)

10
5
16
8
4
2
1

#**Question 5**

In [122]:
def binary(n, binary_string = ''):

    # Display error message if x is less than 0 or not int
    if n < 0 or type(n) is not int:
        print("Enter a non-negative integer")
        return
    # If n is less than or equal to 1:
    #   - Print the binary representation of the current bit (n % 2) concatenated with the existing binary_string.
    #   - Use end='' to avoid printing a newline.
    # Otherwise:
    #   - Make a recursive call to binary with the updated value of n and binary_string.
    print(str(n % 2) + binary_string, end='') if n <= 1 else binary(n // 2, str(n % 2) + binary_string)

In [123]:
binary(0)

0

In [124]:
binary(1)

1

In [125]:
binary(3)

11

In [126]:
binary(9)

1001

#**Questin 6**

In [158]:
from html.parser import HTMLParser
import re

class HeadingParser(HTMLParser):

    # Constructor method that initialize the Heading Parser object
    def __init__(self):
      HTMLParser.__init__(self)

      # Flag to track if we are inside a heading
      self.in_heading = False

      # Variable to track the indentation level of the heading
      self.tab_count = 0

    # Method called when a start tag is found
    def handle_starttag(self, tag, attrs):

      # Check if the tag is a heading tag
      if re.match(r'^h\d+$', tag):

        # Set the in_heading flag to True to indicate that we are inside a heading
        self.in_heading = True

        # Set the tab_count to the level of the heading
        # For example h1 corresponds to 0 tabs, h2 corresponds to 1 tab,...
        self.tab_count = int(tag[-1]) - 1

    # Method called when an end tag is encountered
    def handle_endtag(self, tag):

      # Check if the tag is a heading tag
      if self.in_heading:

        # Set the in_heading flag to False to indicate that we are no longer inside a heading
        self.in_heading = False

    # Method to handle the data within an element
    def handle_data(self, data):

      # Check if we are inside of a heading
      if self.in_heading:
        # Print the heading text with the appropriate indentation based on the tab count
        print('\t' * self.tab_count, data)

In [163]:
with open('w3c.html', 'r') as infile:
    content = infile.read()

In [164]:
hp = HeadingParser()
hp.feed(content)

 W3C Mission
	 Principles

#**Question 7**

In [190]:
from urllib.request import urlopen, HTTPError
from urllib.parse import urljoin
from html.parser import HTMLParser

class MyHTMLParser(HTMLParser):
    def __init__(self, url):
      # Constructor method that initializes the MyHTMLParser object
      HTMLParser.__init__(self)
      # List to store the extracted links
      self.links = []
      self.url = url
      self.url = url

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
          for attr in attrs:
            if attr[0] == 'href':
              absolute = urljoin(self.url, attr[1].strip())
              if absolute[:4] == 'http':
                self.links.append(absolute)

    def get_links(self):
      # Method to retrieve the extracted links
      return self.links

def webdir(url, depth, indent=0):
    try:

        # Send a request to the URL and retrieve the response
        with urlopen(url) as response:
          # Read the content of the response and decode it
          content = response.read().decode('utf-8', errors='ignore')

        # Print each link with appropriate indentation
        print('\t' * indent + url)

        if depth > 0:
            # Create an instance of MyHTMLParser and pass the URL to it
            parser = MyHTMLParser(url)
            # Parse the HTML content
            parser.feed(content)
            # Get the extracted links from the parser
            links = parser.get_links()

            for link in links:
                webdir(link, depth - 1, indent + 1)

    except HTTPError as e:
        print(f"Error accessing {url}: HTTP Error {e.code} - {e.reason}")
    except Exception as e:
        print(f"Error accessing {url}: {e}")

In [191]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404 -

In [192]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/
	http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/Ch7.pptx
	http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/caseStudy6/blackjack.py
	http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/emoticon.py
	http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/chapter7.zip

#**Question 8**

In [204]:
import sqlite3
from tabulate import tabulate
# Connect to a SQLite database (this will create a new database file if it doesn't exist)
conn = sqlite3.connect('weatherdata.db')

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# Create the Weather table
cursor.execute('''
CREATE TABLE Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature_C REAL,
    Rainfall_mm REAL
)
''')

# Insert records into the Weather table
weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?, ?, ?)', weather_data)

# Commit changes and close connection
conn.commit()
conn.close()

In [209]:
# Reconnect to the database
conn = sqlite3.connect('weatherdata.db')
cursor = conn.cursor()

In [210]:
# a. All the temperature data.
cursor.execute('SELECT Temperature_C FROM Weather')
result_a = cursor.fetchall()

In [211]:
print("All the temperature data:")
print(tabulate(result_a, headers=["Temperature (C)"], tablefmt="grid"))

All the temperature data:
+-------------------+
|   Temperature (C) |
+===================+
|              24.8 |
+-------------------+
|              28.4 |
+-------------------+
|              27.9 |
+-------------------+
|              27.6 |
+-------------------+
|               4.2 |
+-------------------+
|               8.3 |
+-------------------+
|              15.7 |
+-------------------+
|              10.4 |
+-------------------+
|              13.6 |
+-------------------+
|              20.7 |
+-------------------+
|              27.7 |
+-------------------+
|              22.2 |
+-------------------+

In [213]:
# b. All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM Weather')
result_b = cursor.fetchall()
print("\nAll the cities, but without repetition:")
print(tabulate(result_b, headers=["City"], tablefmt="grid"))

All the cities, but without repetition:
+--------+
| City   |
+========+
| Mumbai |
+--------+
| London |
+--------+
| Cairo  |
+--------+

In [214]:
# c. All the records for India.
cursor.execute('SELECT * FROM Weather WHERE Country = "India"')
result_c = cursor.fetchall()
print("\nAll the records for India:")
print(tabulate(result_c, headers=["City", "Country", "Season", "Temperature (C)", "Rainfall (mm)"], tablefmt="grid"))

All the records for India:
+--------+-----------+----------+-------------------+-----------------+
| City   | Country   | Season   |   Temperature (C) |   Rainfall (mm) |
+========+===========+==========+===================+=================+
| Mumbai | India     | Winter   |              24.8 |             5.9 |
+--------+-----------+----------+-------------------+-----------------+
| Mumbai | India     | Spring   |              28.4 |            16.2 |
+--------+-----------+----------+-------------------+-----------------+
| Mumbai | India     | Summer   |              27.9 |          1549.4 |
+--------+-----------+----------+-------------------+-----------------+
| Mumbai | India     | Fall     |              27.6 |           346   |
+--------+-----------+----------+-------------------+-----------------+

In [215]:
# d. All the Fall records.
cursor.execute('SELECT * FROM Weather WHERE Season = "Fall"')
result_d = cursor.fetchall()
print("\nAll the Fall records:")
print(tabulate(result_d, headers=["City", "Country", "Season", "Temperature (C)", "Rainfall (mm)"], tablefmt="grid"))

All the Fall records:
+--------+----------------+----------+-------------------+-----------------+
| City   | Country        | Season   |   Temperature (C) |   Rainfall (mm) |
+========+================+==========+===================+=================+
| Mumbai | India          | Fall     |              27.6 |           346   |
+--------+----------------+----------+-------------------+-----------------+
| London | United Kingdom | Fall     |              10.4 |           218.5 |
+--------+----------------+----------+-------------------+-----------------+
| Cairo  | Egypt          | Fall     |              22.2 |             4.5 |
+--------+----------------+----------+-------------------+-----------------+

In [216]:
# e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('''
    SELECT City, Country, Season
    FROM Weather
    GROUP BY City, Country, Season
    HAVING AVG(Rainfall_mm) BETWEEN 200 AND 400
''')
result_e = cursor.fetchall()
print("\nThe city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
print(tabulate(result_e, headers=["City", "Country", "Season"], tablefmt="grid"))

The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
+--------+----------------+----------+
| City   | Country        | Season   |
+========+================+==========+
| London | United Kingdom | Fall     |
+--------+----------------+----------+
| London | United Kingdom | Winter   |
+--------+----------------+----------+
| Mumbai | India          | Fall     |
+--------+----------------+----------+

In [217]:
# f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country
    FROM Weather
    WHERE Season = "Fall"
    GROUP BY City, Country
    HAVING AVG(Temperature_C) > 20
    ORDER BY AVG(Temperature_C) ASC
''')
result_f = cursor.fetchall()
print("\nThe city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
print(tabulate(result_f, headers=["City", "Country"], tablefmt="grid"))

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
+--------+-----------+
| City   | Country   |
+========+===========+
| Cairo  | Egypt     |
+--------+-----------+
| Mumbai | India     |
+--------+-----------+

In [218]:
# g. The total annual rainfall for Cairo.
cursor.execute('SELECT SUM(Rainfall_mm) AS TotalRainfall FROM Weather WHERE City = "Cairo"')
result_g = cursor.fetchone()[0]
print("\nThe total annual rainfall for Cairo:")
print(tabulate([[result_g]], headers=["Total Rainfall (mm)"], tablefmt="grid"))

The total annual rainfall for Cairo:
+-----------------------+
|   Total Rainfall (mm) |
+=======================+
|                  27.6 |
+-----------------------+

In [219]:
# h. The total rainfall for each season.
cursor.execute('SELECT Season, SUM(Rainfall_mm) AS TotalRainfall FROM Weather GROUP BY Season')
result_h = cursor.fetchall()
print("\nThe total rainfall for each season:")
print(tabulate(result_h, headers=["Season", "Total Rainfall (mm)"], tablefmt="grid"))

The total rainfall for each season:
+----------+-----------------------+
| Season   |   Total Rainfall (mm) |
+==========+=======================+
| Fall     |                 569   |
+----------+-----------------------+
| Spring   |                 192.3 |
+----------+-----------------------+
| Summer   |                1706.5 |
+----------+-----------------------+
| Winter   |                 230.1 |
+----------+-----------------------+

In [220]:
# Close the connection
conn.close()

#**Question 9**

In [221]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [224]:
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [228]:
# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
print(list(map(str.upper, words)))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [229]:
#b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print(list(map(str.lower, words)))

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [230]:
# c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words)
print(list(map(len, words)))

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [231]:
# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
print(list(map(lambda word: [word.upper(), word.lower(), len(word)], words)))

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [232]:
# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print(list(filter(lambda word: len(word) >= 4, words)))

['quick', 'brown', 'jumps', 'over', 'lazy']